@font-face {
    font-family: 'Pure Milk';
    src: url('../fonts/PureMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* PROFILE PAGE */
body {
    background: url(../Images/backgroundAcceuil.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding: 15px;
}

.profileContainer {
    margin-top: 120px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#f9f9f9, #acc572);
    border-radius: 8px;
    border: #88b04b solid 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -30px;
}

.profileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-family: 'Pure Milk', sans-serif;
    font-size: 2.0rem;
    letter-spacing: 3px;
    color: #2d3e52;
}

.titleModif {
    width: 100%;
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: #a7c957 solid 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.8s ease, border-radius 0.8s ease;
    z-index: 500;
}

.iconModif {
    width: 20px;    
}

#modifierPseudoForm, #modifierPhotoForm {
    display: flex;
    align-items: center;
}

#photoUpload, #submitPhotoBtn {
    display: none;
}

#modifierPseudoForm {
    gap : 10px;
}

#photoModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#closeModalBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modalContent {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.profilePseudoInput {
    display:none;
}

.savePseudoBtn, .savePhotoBtn {
    display: none;
}

.editPseudoBtn, .editPhotoBtn, .savePseudoBtn, .savePhotoBtn {
    border-radius: 50%;
    border: solid 1px #2d3e52;
    cursor: pointer;
    background-color: #d1ddb4;
}

.editPseudoBtn:hover, .editPhotoBtn:hover, .savePseudoBtn:hover, .savePhotoBtn:hover  {
    background-color: #a7c957a2;
}

.savePseudoBtn,
.savePhotoBtn {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
}

.editPhotoBtn {
    position: relative;
    top: -35px;  
    z-index: 900;
}

.profilePseudo {
    font-size: 1.8rem;
    color: #2d3e52;
    font-weight: bold;
}

.modifierPseudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 10px;
}

.profileInfo {
    font-family: 'Nunito', sans-serif;
    color: #444;
    background-color: #d1ddb4;
    border-radius: 12px;
    border: #88b04b solid 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
    display: flex;
    gap: 1px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

input[type="text"], input[type="email"], input[type="tel"], .inputPref {
    font-size: 0.8rem;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;    
}

select.service {
    font-size: 1rem;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.sumbit,
.annuler {
    background-color: #88b04b;
    color: white;
    border: none;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.sumbit:hover,
.annuler:hover {
    background: #679436;
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.profileInfo:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.profileInfo p strong {
    font-weight: 600;
    color: #2d3e52;
    font-size: 1em;
}

.profileInfo p {
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.profileInfo .icon {
    margin-top: 0;
}

.profileInfo p span.icon {
    margin-right: 15px;
    font-size: 1.4rem;
    color: #88b04b;
    transition: transform 0.3s ease-in-out;
}

.profileInfo .icon {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.aPropos {
    font-family: 'Nunito', sans-serif;
    color: #444;
    background-color: #d1ddb4;
    border-radius: 12px;
    border: #88b04b solid 2px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.aPropos:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.aPropos p:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.radio-group {
    display: inline-flex;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #a7c957;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #2d3e52;
    border-color: #a7c957;
}

.profileActions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* MODAL */
#photoModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: #f9f9f9;
    margin: 10% auto;
    top: 100px;
    padding: 30px;
    border-radius: 12px;
    width: 75%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    color: #2d3e52;
    position: relative;
    animation: fadeInModal 0.4s ease;
}

#filePhoto {
    width: 90%;
    font-size: 0.8em;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#closeModalBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3e52;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

#closeModalBtn:hover {
    transform: scale(1.2);
    color: #a7c957;
}

.modalContent h3 {
    text-align: center;;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #2d3e52;
}

.modalContent input[type="file"] {
    display: block;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #fff;
}

.modalContent button {
    background-color: #88b04b;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.modalContent button:hover {
    background-color: #679436;
    transform: translateY(-2px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/*=============================================================================================================\
|                                          500 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 500px) {}

/*=============================================================================================================\
|                                          768 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 768px) {

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    input[type="text"], input[type="email"], input[type="tel"], .inputPref {
        font-size: 1rem;
        padding: 15px;
        

    }

}
/*=============================================================================================================\
|                                          992 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 992px) {

    main {
        padding-left: 70px;
        padding-right: 70px;
    }

    h2 {
        font-size: 3.0rem;
    }

    .profileHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin-bottom: -75px;
        gap: 280px;
    }

    #modifierPseudoForm {
        border: #88b04b solid 2px;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;   }

    .profileContainer {
        margin-top: 100px;
    }

    input[type="text"], input[type="email"], input[type="tel"], .inputPref {
        font-size: 1.2rem;
        padding: 15px;
    }

    .inputPref {
        padding: 15px;
    }

    .profilePseudo {
        font-size: 3em;
    }

    .iconModif {
        width: 30px;
    }

    .editPhotoBtn {
    right: 30%;
    }

    .savePseudoBtn,
    .savePhotoBtn {
        width: 40px;
        height: 40px;
        font-size: 1.2em;
    }

    .profile-pic {
        width: 190px;
        height: 190px;
    }

    .infoButton {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        padding: 15px;
    }

    .profileInfo,
    .profileInfosBtn {
        flex: 1;
    }

    .profileInfo {
        width: 100%;
        gap: 2px;
    }

    .profileInfo p {
        font-size: 1.2em;
    }

    .profileActions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        gap: 30px;
        font-size: 1.2em;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
    }

    .profileActions a {
        width: 80%;
    }

}

/*=============================================================================================================\
|                                          1199 PX                                                             |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 1199px) {

    main {
        padding-left: 70px;
        padding-right: 70px;
    }

    .profileHeader {
        gap: 550px;
    }

    .profileActions a {
        width: 80%;
    }
}