/* COULEURS */
:root {
    --primary-color: #2d3e52;
    /* Couleur principale de la police */
    --button-color: #a7c957;
    /* Couleur des boutons */
    --blue-theme: #71C4F1;
    /* Couleur bleue du thème */
}


/* FORMULAIRE */
@font-face {
    font-family: 'Pure Milk';
    src: url('../fonts/PureMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Nunito', sans-serif;
    background: url(../Images/backgroundAcceuil.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: var(--primary-color);
}

main { 
    width: 100%;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-family: 'Pure Milk';
    letter-spacing: 3px;
}

p {
    margin: 0;
    font-size: 1.1em;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.recherche {
    margin-top: 800px;
}

.recherche,
.proposer {
    background: #71c4f1cd;
    border-radius: 15px;
    padding: 10px;
    border: solid 2px #2aa8ec;
    width: 80%;
}

.depart,
.destination,
.date,
.passager,
.places {
    border-radius: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #71C4F1;
    margin-bottom: 20px;
    margin-top: 3px;
}

.date,
.passager,
.places {
    cursor: pointer;   
}

.preferences {
    display: flex;
    flex-direction: column;
}

.fumeur, .musique, .voyage {
    margin-bottom: 20px;
    margin-top: 3px;
    outline: none;
    background-color: #f2f2f2;
    padding: 3px;
    border-radius: 5px;
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #a7c957;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #2d3e52;
    border-color: #a7c957;
}

.btnRechercher {
    background-color: #a7c957;
    padding: 7px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    width: 40%;
    font-size: 1em;
    margin: 10px auto;
    display: block;
}

.btnRechercher:hover {
    background-color: #cbd7dd;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/*=============================================================================================================\  
|                                          500 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 500px) {
    .recherche {
        margin-top: 1000px;
    }

    .depart,
    .destination,
    .date,
    .passager,
    .places {
        width: 70%;
    }
}

/*=============================================================================================================\  
|                                          768 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 768px) {
    .recherche {
        margin-top: 1000px;
    }
    
}

/*=============================================================================================================\  
|                                          992 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 992px) {

    h2 {
        font-size: 2rem;
    }

    .container {
        flex-direction: row;
        justify-content: center;
    }
            
    .recherche,
    .proposer {
        width: 45%;
        margin-top: 500px;
    }

    .depart,
    .destination,
    .date,
    .passager,
    .places {
        border-radius: 5px;
        padding: 10px;
        background-color: #f2f2f2;
        border: 1px solid #71C4F1;
        margin-bottom: 20px;
        width: 80%;
        font-size: 1.2em;
    }

}

/*=============================================================================================================\  
|                                          1199 PX                                                             |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 1199px) {
    .preferences {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .recherche,
    .proposer {
        margin-top: 100px;
    }
}