/* COULEURS */
:root {
    --bleuPolice: #2d3e52;
    --vertTheme: #a7c957;
    --bleuTheme: #71C4F1;
}


/* BACKOFFICE DES UTILISATEURS */
body {
    background: url(../Images/backgroundAcceuil.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

main {
    padding: 15px;
}

.userContainer {
    margin-top: 120px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 100%;
}


@media (max-width: 500px) {
    .userContainer {
        margin-top: 50px;
    }
}

h2 {
    color: var(#2d3e52);
    text-align: center;
    font-family: 'Pure Milk';
    letter-spacing: 3px;
}

.userContainer h2 {
    text-align: center;
    color: #2d3e52;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #d1ddb4;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.userTable th,
.userTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 0.9rem;
}

.userTable th {
    background-color: #a7c9577d;
    color: #2d3e52;
}

.userTable tr:hover {
    background-color: #c8da92;
}

.userTable th:last-child,
.userTable td:last-child {
    border-right: none;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.btn-modifier,
.btn-supprimer {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: auto;
}

.btn-supprimer {

    background-color: #f77f8e;
    color: white;
}

.btn-modifier {
    background-color: #f9b23f;

    color: white;
}


.btn-supprimer:hover {
    background-color: #f8a5b2;
    transform: translateY(-4px);
}

.btn-modifier:hover {
    background-color: #f9c74f;
    transform: translateY(-4px);
}
/* Media Queries */
@media (min-width: 500px) {}

@media (min-width: 768px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    h2 {
        font-size: 1.5em;
    }

    .userTable th,
    .userTable td {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }

    .userContainer {
        margin-top: 100px;
    }

    .userContainer h2 {
        margin-top: 20px;
        font-size: 2.8rem;
    }

    .userTable {
        display: table;
        white-space: normal;
    }

    .userTable th,
    .userTable td {
        font-size: 1.2rem;
    }
}

@media (min-width: 1199px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
}