/* COULEURS */
:root {
    --primary-color: #2d3e52;
    --button-color: #a7c957;
    --blue-theme: #71C4F1;
}


/* FORMULAIRE */
@font-face {
    font-family: 'Pure Milk';
    src: url('../fonts/PureMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Nunito', sans-serif;
    background: url(../Images/backgroundAcceuil.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: var(--primary-color);
}

main { 
    width: 100%;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-family: 'Pure Milk';
    letter-spacing: 3px;
}

p {
    margin: 0;
    font-size: 1.1em;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.recherche {
    margin-top: 800px;
}

.recherche,
.proposer {
    background: linear-gradient(#71c4f1cd, #71C4F1);
    border-radius: 15px;
    padding: 10px;
    border: solid 2px #2aa8ec;
    width: 80%;
}

/* Div API ville */

#depart,
#destination {
    position: relative;
}

.suggestionsListDepart,
.suggestionsListDestination {
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-height: 200px;
    overflow-y: auto;
    width: 75%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#departDepot,
#destinationDepot {
    position: relative;
}

.suggestionsListDepartDepot,
.suggestionsListDestinationDepot {
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-height: 200px;
    overflow-y: auto;
    width: 75%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.depart,
.destination,
.departDepot,
.destinationDepot,
.date,
.passager,
.places,
.heure {
    border-radius: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #71C4F1;
    margin-bottom: 20px;
    margin-top: 3px;
}

.depart,
.destination,
.passager {
    width: 90%;
}

.departDepot,
.destinationDepot {
    width: 90%;
}

.voyage, .voyageProposer {
    width: 90%;
}

.date,
.passager,
.places,
.heure {
    cursor: pointer;   
}

.preferences {
    display: flex;
    flex-direction: column;
}

.fumeur,
.nourriture,
.musique,
.voyage {
    margin-bottom: 20px;
    margin-top: 3px;
    outline: none;
    background-color: #f2f2f2;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.fumeurProposer, .musiqueProposer,.nourritureProposer, .voyageProposer {
    margin-bottom: 20px;
    margin-top: 3px;
    outline: none;
    background-color: #f2f2f2;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}



input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #a7c957;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #2d3e52;
    border-color: #a7c957;
}

.btnRechercher, .btnProposer {
    background-color: #a7c957;
    padding: 7px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    width: 40%;
    font-size: 1em;
    margin: 10px auto;
    display: block;
}

.btnRechercher:hover, .btnProposer:hover {
    background-color: #cbd7dd;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.obligatoire {
    display: flex;
    align-items: center;
    justify-content: center;
}

.obligatoire p {
    padding: 5px;
    font-size: 0.9em;
    color: #2d3e52;
    background-color: #71C4F1;
    border-radius: 10px;
}

/* Modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #71c4f1;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border: #a7c957 solid 2px;
    border-radius: 10px;
}

.modal-content button {
    background-color: #a7c957;
    padding: 7px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    width: 40%;
    font-size: 1em;
    margin: 10px auto;
    display: block;
}

.modal-content button:hover {
    background-color: #cbd7dd;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


/*=============================================================================================================\  
|                                          500 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 500px) {
    .recherche {
        margin-top: 800px;
    }

    .depart,
    .destination,
    .departDepot,
    .destinationDepot,
    .date,
    .passager,
    .places {
        width: 90%;
    }
    
}

/*=============================================================================================================\  
|                                          768 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 768px) {
    .recherche {
        margin-top: 700px;
    }
    .voyage,
    .voyageProposer {
        width: 70%;
    }
    
    .suggestionsListDepart,
    .suggestionsListDestination {
        width: 50%;
    }

    .suggestionsListDepartDepot,
    .suggestionsListDestinationDepot {
        width: 50%;
    }
}

/*=============================================================================================================\  
|                                          992 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 992px) {

    h2 {
        font-size: 2rem;
    }

    .container {
        flex-direction: row;
        justify-content: center;
    }
            
    .recherche,
    .proposer {
        width: 45%;
        margin-top: 250px;
    }

    .depart,
    .destination,
    .departDepot,
    .destinationDepot,
    .date,
    .passager,
    .places {
        border-radius: 5px;
        padding: 10px;
        background-color: #f2f2f2;
        border: 1px solid #71C4F1;
        margin-bottom: 20px;
        width: 90%;
        font-size: 1.2em;
    }

    .voyage,
    .voyageProposer {
        width: 50%;
    }

    .suggestionsListDepart,
    .suggestionsListDestination {
        width: 20%;
    }

    .suggestionsListDepartDepot,
    .suggestionsListDestinationDepot {
        width: 20%;
    }

}

/*=============================================================================================================\  
|                                          1199 PX                                                             |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 1199px) {
    .preferences {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .recherche,
    .proposer {
        margin-top: 250px;
        padding-top: 0px;
    }

    h2 {
        margin-top: 10px;
    }
}