@font-face {
    font-family: 'Pure Milk';
    src: url('../fonts/PureMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* PROFILE PAGE */
body {
    background: url(../Images/backgroundAcceuil.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding: 15px;
}

.profileContainer {
    margin-top: 120px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#f9f9f9, #acc572);
    background-color: #f9f9f9;
    border-radius: 8px;
    border: #88b04b solid 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 10px;
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: #a7c957 solid 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.8s ease, border-radius 0.8s ease;
    z-index: 500;
}

.profilePic:hover {
    transform: scale(1.8);
    border-radius: 10%;
    z-index: 500;
}

.profile-name {
    font-size: 1.8rem;
    color: #2d3e52;
    font-weight: bold;
}

.profileInfo {
    font-family: 'Nunito', sans-serif;
    color: #444;
    background-color: #d1ddb4;
    border-radius: 12px;
    border: #88b04b solid 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
    display: flex;
    gap: 1px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.profileInfo:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.profileInfo p strong {
    font-weight: 600;
    color: #2d3e52;
    font-size: 1em;
}

.profileInfo p {
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.icon {
    font-size: 2em;
}

.profileInfo .icon {
    margin-top: 0;
}

.profileInfo .icon{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.aPropos .icon {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.aPropos {
    font-family: 'Nunito', sans-serif;
    color: #444;
    background-color: #d1ddb4;
    border-radius: 12px;
    border: #88b04b solid 2px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    gap: 5px;
}

.aPropos:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.aPropos p:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.profileActions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.profilePublicActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.profileActions a button,
.profilePublicActions a button,
.boutonMessage {
    background-color: #88b04b;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.boutonRetour {
    background-color: #88b04b;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.profileActions a button:hover,
.profilePublicActions a button:hover,
.boutonMessage:hover,
.boutonRetour:hover {
    background: #679436;
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.profileActions a button:active,
.profilePublicActions a button:active,
.boutonMessage:active,
.boutonRetour:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

/* RESPONSIVE */

/*=============================================================================================================\
|                                          500 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 500px) {

}

/*=============================================================================================================\
|                                          768 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 768px) {

    main {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/*=============================================================================================================\
|                                          992 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 992px) {

    main {
        padding-left: 70px;
        padding-right: 70px;
    }

    .profileHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20px;
        gap: 280px;
    }

    /* Profile Container and Actions on larger screens */
    .profileContainer {
        margin-top: 100px;
        /* Ensure there's enough space below fixed header */
    }

    .profile-name {
        font-size: 3em;
        background-color: #a7c95796;
        border: #88b04b solid 2px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .profilePic {
        width: 190px;
        height: 190px;
    }
    
    .infoButton {
        display: flex; 
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        padding: 15px;
    }

    .profileInfo, .profileInfosBtn {
        flex: 1;
    }

    .profileInfo {
        width: 100%;
        gap: 2px;
    }

    .profileInfo p {
        font-size: 1.2em;
    }

    .aPropos .icon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.4em;
    }

    .profileActions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        gap: 30px;
        font-size: 1.2em;
    }

    .profileActions a {
        width: 80%;
    }
}

/*=============================================================================================================\
|                                          1199 PX                                                             |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/
@media (min-width: 1199px) {
    
    main {
            padding-left: 70px;
            padding-right: 70px;
    }

    .profileHeader {
        gap: 550px;
    }

    .profileActions a {
        width: 80%;
    }
}