
/* PAGE DES NOTIFICATIONS */
body {
    background: url(../Images/backgroundAcceuil.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    color: #2d3e52;
}

main {
    padding: 15px;
}

h2 {
    font-family: 'Pure Milk', sans-serif;
    font-size: 2.8rem;
    letter-spacing: 3px;
    margin: 0;
}

.notificationsContainer {
    margin-top: 120px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d1ddb4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 100%;
}

.notificationsContainer h2 {
    text-align: center;
    color: #2d3e52;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.notificationsContainer a {
    text-decoration: none;
    color: #88b04b;
}

/* Liste des notifications */
.notificationsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.notification {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #a7c957;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.notificationHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
}

.notificationIcon {
    font-size: 24px;
}

.notificationContent {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.notificationDate {
    font-size: 0.85rem;
    color: #666;
    margin-top: 5px;
}

/* Actions des notifications */

.notificationActions {
    display: flex;
    justify-content: space-between;
}

.notificationBtn {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.acceptBtn {
    background-color: #a7c957; 
    color: #2d3e52;
}

.declineBtn {
    background-color: #cf534b;
    color: #2d3e52;
}

.notificationBtn:hover {
    opacity: 0.8;
    color: white;
}

.retour,
.openModalBtn {
    background: #88b04b;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, transform 0.2s, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    margin: 6px auto;
    display: block;
}

.retour:hover,
.openModalBtn:hover {
    background: #679436;
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

 /* MODAL  */

.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal h2 {
    font-size: 1.6em;
}

.modal-content {
    background: linear-gradient(#9bcce7, #249fe2, #9bcce7);
    margin: 100px auto;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
    border: #88b04b solid 4px;
}

#modalMessage {
    white-space: pre-line;
    text-align: justify;
    margin: 10px;
}

.containerMessage, .textRep {
    background-color: beige;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #2d3e527c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow-y: auto;
}

.textRep {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.repondre, .envoyer {
    margin-top: 20px;
    background-color: #a7c957;
    color: #2d3e52;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.repondre:hover,
.envoyer:hover {
    background-color: #679436;
    color: white;
}

.hidden {
    display: none;
}

.reponse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*=============================================================================================================\  
|                                          500 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 500px) {

}

/*=============================================================================================================\  
|                                          768 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 768px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    .notificationsContainer h2 {
        font-size: 2rem;
    }

    .notificationHeader {
        font-size: 1.3em;
    }

    .notificationContent {
        font-size: 14px;
    }

    .notificationBtn {
        padding: 8px 12px;
        font-size: 12px;
    }

    .notificationDate {
        font-size: 1rem;
    }

    .modal-content {
        width: 100%;
    }

    .modal h2 {
        font-size: 2em;
    }
}

/*=============================================================================================================\  
|                                          992 PX                                                              |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 992px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
    .notificationsContainer {
        margin-top: 100px;
    }
    .notificationsContainer h2 {
        font-size: 2.2rem;
    }
    .notificationContent {
        font-size: 16px;
    }
    .notificationBtn {
        font-size: 14px;
    }

    .textRep {
        font-size: 1.5em;;   
    }
}

/*=============================================================================================================\  
|                                          1199 PX                                                             |
|                                                                                                              |
|                                                                                                              |
\=============================================================================================================*/

@media (min-width: 1199px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
    .notificationsContainer {
        margin-top: 80px;
    }
    .notificationsContainer h2 {
        font-size: 2.4rem;
    }
}

