/* COULEURS */
:root {
    --bleuPolice: #2d3e52;
    --vertTheme: #a7c957;
    --bleuTheme: #71C4F1;
}

@font-face {
    font-family: 'Pure Milk';
    src: url('../fonts/PureMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* BACKOFFICE DES UTILISATEURS */
body {
    background: url(../Images/backgroundAcceuil.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

main {
    padding: 15px;
}

.userContainer {
    margin-top: 120px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 90%;
}

.profil-link {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.profil-link:hover {
    color: var(--bleuTheme);
    text-decoration: none;
}

/* MODAL */

.modale-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modale-contenu {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modale-boutons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.btn-modale {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-oui {
    background-color: #d9534f;
    color: white;
}

.btn-non {
    background-color: var(--bleuTheme);
    color: white;
}

.fa-trash-can, .fa-pencil {
    margin-right: 5px;
}


@media (max-width: 500px) {
    .userContainer {
        margin-top: 50px;
    }
}

h2 {
    color: var(#2d3e52);
    text-align: center;
    font-family: 'Pure Milk';
    letter-spacing: 3px;
}

.userContainer h2 {
    text-align: center;
    color: #2d3e52;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #d1ddb4;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.userTable th,
.userTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 0.9rem;
}

.userTable th {
    background-color: #a7c9577d;
    color: #2d3e52;
}

.userTable tr:hover {
    background-color: #c8da92;
}

.userTable th:last-child,
.userTable td:last-child {
    border-right: none;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.btn-modifier,
.btn-supprimer,
.btn-valider,
.btn-annuler {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: auto;
    
}

.btn-modifier,
.btn-supprimer {
    display: flex;
}

.btn-supprimer {

    background-color: #f77f8e;
    color: white;
}

.btn-modifier {
    background-color: #f9b23f;

    color: white;
}


.btn-supprimer:hover {
    background-color: #f8a5b2;
    transform: translateY(-4px);
}

.btn-modifier:hover {
    background-color: #f9c74f;
    transform: translateY(-4px);
}

.btn-annuler {

    background-color: #d9534f;
    color: white;
}

.btn-valider {
    background-color: #50d56a;

    color: white;
}


.btn-annuler:hover {
    background-color: #d56c69;
    transform: translateY(-4px);
}

.btn-valider:hover {
    background-color: #7cd58e;
    transform: translateY(-4px);
}

.input-modif {
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 5px;
}

/* Media Queries */
@media (min-width: 500px) {}

@media (min-width: 768px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    h2 {
        font-size: 1.5em;
    }

    .userTable th,
    .userTable td {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }

    .userContainer {
        margin-top: 100px;
    }

    .userContainer h2 {
        margin-top: 20px;
        font-size: 2.8rem;
    }

    .userTable {
        display: table;
        white-space: normal;
    }

    .userTable th,
    .userTable td {
        font-size: 1.1rem;
    }
}

@media (min-width: 1199px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
}